nav {
    background-color: rgb(0, 255, 128); // Set the background color to black
    position: relative;
    top: 5px;
    left: 530px;
    width: 500px;
  border: 5px solid black;
    height: 500px;
    z-index: -1;
  
    &:hover {
    background-image: url("/public/img/testerRoom.webp");
  
      background-color: transparent; // Remove the background color on hover
      display: block; // Display the content inside header on hover
    }
  }
  nav > * {
    display: none; // Hide the content inside header
  
    &:hover {
      display: block; // Display the content inside header on hover
    }
  
  }
  