.skip-link {
  position: absolute;
  height: 150px;
  width: 1070px;
  background-image: url("/img/roof.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
