main {
  background-image: url("/img/testerRoom.webp");
  opacity: 0.1; // Set the opacity of the background image
  position: absolute;
  top: var(--Rm3-top-pos);
  left: var(--Rm3-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  z-index: 1;
  
  &:hover {
    opacity: .8; // Set the opacity of the background image to 1 on hover


    background-color: transparent; // Remove the background color on hover
    display: block; // Display the content inside header on hover
  }
}
main > * {

  &:hover {
    display: block; // Display the content inside header on hover
  }
}

#about {
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  overflow: hidden;
  border-radius: 10px; // Add rounded borders

  &:hover {
    background-color: rgba(0, 0, 0, 0.8); // Transparent black background color
    padding: 2em;
    background-image:none;
    opacity: .99; // Set the opacity of the background image to 1 on hover
    width: 90vb; // Make the box 80% wide
    height: 1000px;
    
    z-index: 9999; // Set the z-index to 9999
    overflow: visible;
    cursor: crosshair;
    transition: width 0.5s ease; // Add smooth animation
  }
}
#guidelines{
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  overflow: hidden;
  border-radius: 10px; // Add rounded borders

  &:hover {
    background-color: rgba(0, 0, 0, 0.8); // Transparent black background color
    padding: 2em;
    background-image:none;
    opacity: .99; // Set the opacity of the background image to 1 on hover
    width: 90vb; // Make the box 80% wide
    height: 1000px;
    
    z-index: 9999; // Set the z-index to 9999
    overflow: visible;
    cursor: crosshair;
    transition: width 0.5s ease; // Add smooth animation
  }
}
#contribute{
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  overflow: hidden;
  border-radius: 10px; // Add rounded borders

  &:hover {
    background-color: rgba(0, 0, 0, 0.8); // Transparent black background color
    padding: 2em;
    background-image:none;
    opacity: .99; // Set the opacity of the background image to 1 on hover
    width: 90vb; // Make the box 80% wide
    height: 1000px;
    z-index: 9999; // Set the z-index to 9999
    overflow: visible;
    cursor: crosshair;
    transition: width 0.5s ease; // Add smooth animation
  }
}