
header {
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); // Set the background color to black with 50% opacity
  position: absolute;
  background-image: url("/img/rm1.webp");
  background-size: 100% 100%;
  opacity: var(--fog-hide);

  top: var(--Rm1-top-pos);
  left: var(--Rm1-left-pos);
  
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  
  &:hover:not(h1) {
    
    opacity: 0.8; // Set the opacity of the background image
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent; // Remove the background color on hover
    display: block; // Display the content inside header on hover
  }
}
// header > * {
//   opacity: 0;
//   &:hover {
//     opacity: 1;
//     display: block; // Display the content inside header on hover
//     position: relative; // Set position to relative
//   }
// header > div:first-child h1 {
//   position: absolute;
//   background-color: bisque;
//   top: 60px;
//   left: 277px;

//   width: 40px;
//   height: 30px;
//   opacity: 0.1;

//   overflow: hidden;
//   &:hover {
//     opacity: 1;
//     width: auto;
//     height: auto;
//     overflow: visible;
//     cursor: crosshair;
//   }
// }

header > * {
    position: absolute;
    background-image: url("/img/portaitShift.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    top: 125px;
    left:60px;
    width: 50px;
    height: 50px;
    padding-top: 2em;
    opacity: 1;
    overflow: hidden;
    border-radius: 10px; // Add rounded borders
  
    &:hover {
      background-color: rgba(0, 0, 0, 0.8); // Transparent black background color
      padding: 2em;
      background-image:none;
      opacity: .99; // Set the opacity of the background image to 1 on hover
      width: 90vb; // Make the box 80% wide
      height: 1000px;
      z-index: 9999; // Set the z-index to 9999
      overflow: visible;
      cursor: crosshair;
      transition: width 0.5s ease; // Add smooth animation
    }
  }

