footer {
  background-image: url("/img/rm6.webp");
  background-size: 100% 100%;
  opacity: var(--fog-hide);
  background-color: var(--clr-hideRoom); // Set the background color to black
  z-index: 0;
  
  position: absolute;
  top: var(--Rm6-top-pos);
  left: var(--Rm6-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  margin-bottom: 2em;

  &:hover {
    opacity: .8; // Set the opacity of the background image to 1 on hover
    background-color: transparent; // Remove the background color on hover
    display: block; // Display the content inside header on hover
  }
}
footer > * {
  display: none; // Hide the content inside header

  &:hover {
    display: block; // Display the content inside header on hover
  }
}
