.room2 {
    background-color: #20cc2f;
    color: #18c918;
    padding: 20px;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
}

.room2 h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.room2 p {
    margin-bottom: 20px;
}

.room2 button {
    background-color: white;
    color: green;
    border: 2px solid green;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}