footer {
  background-color: rgb(0, 255, 76); // Set the background color to black
  position: absolute;
  top: var(--Rm6-top-pos);
  left: var(--Rm6-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  margin-bottom: 2em;

  &:hover {
    background-image: url("/img/testerRoom.webp");

    background-color: transparent; // Remove the background color on hover
    display: block; // Display the content inside header on hover
  }
}
footer > * {
  display: none; // Hide the content inside header

  &:hover {
    display: block; // Display the content inside header on hover
  }
}
