aside#styles {
  background-color: rgb(234, 0, 255); // Set the background color to black
  position: absolute;
  top: var(--Rm5-top-pos);
  left: var(--Rm5-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;

  &:hover {
    background-image: url("/img/testerRoom.webp");

    background-color: transparent; // Remove the background color on hover
    display: block; // Display the content inside header on hover
  }
}

aside#styles > * {
  display: none; // Hide the content inside header

  &:hover {
    display: block; // Display the content inside header on hover
  }
}
