aside#styles {
  background-image: url("/img/testerRoom.webp");
  opacity: 0.1; // Set the opacity of the background image
  z-index: 0;
  position: absolute;
  top: var(--Rm5-top-pos);
  left: var(--Rm5-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;

  &:hover {
    opacity: .8; // Set the opacity of the background image to 1 on hover


    background-color: transparent; // Remove the background color on hover
    display: block; // Display the content inside header on hover
  }
}

aside#styles > * {
  display: none; // Hide the content inside header

  &:hover {
    display: block; // Display the content inside header on hover
  }
}
