main {
  background-color: rgb(255, 145, 0); // Set the background color to black
  position: absolute;
  top: var(--Rm3-top-pos);
  left: var(--Rm3-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  
  &:hover {
    background-image: url("/img/testerRoom.webp");

    background-color: transparent; // Remove the background color on hover
    display: block; // Display the content inside header on hover
  }
}
main > * {
  display: none; // Hide the content inside header

  &:hover {
    display: block; // Display the content inside header on hover
  }
}
