aside#styles {
  background-color: rgb(234, 0, 255); // Set the background color to black
  position: absolute;
  top: 1160px;
  left: 25px;
  width: 500px;
  border: 5px solid black;

  height: 500px;

  &:hover {
    background-image: url("/img/testerRoom.webp");

    background-color: transparent; // Remove the background color on hover
    display: block; // Display the content inside header on hover
  }
}

aside#styles > * {
  display: none; // Hide the content inside header

  &:hover {
    display: block; // Display the content inside header on hover
  }
}
