footer {
    background-color: rgb(0, 255, 76); // Set the background color to black
    position: absolute;
    top: 1015px;
    left: 530px;
    width: 500px;
    border: 5px solid black;
    margin-bottom: 2em;
    height: 500px;
    z-index: -1;
  
    &:hover {
    background-image: url("/public/img/testerRoom.webp");
  
      background-color: transparent; // Remove the background color on hover
      display: block; // Display the content inside header on hover
    }
  }
  footer > * {
    display: none; // Hide the content inside header
  
    &:hover {
      display: block; // Display the content inside header on hover
    }
  
  }
  