/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  margin-top: 5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 5px solid rgb(218, 197, 13);
}

body > * {
  display: grid;
  border: 5px solid rgb(8, 107, 21);
  padding: 1em;
  margin: 1em;
}

.container {
  display: grid;
  border: 5px solid rgb(14, 202, 202);
  padding: 1em;
  margin: 1em;
}

header {
  background-color: black;
  position: absolute;
  top: 5px;
  left: 5%;
  width: 500px;
  height: 500px;
  z-index: -1;
}
header:hover {
  background-image: url("/public/img/testerRoom.webp");
  background-color: transparent;
  display: block;
}

header > * {
  display: none;
}
header > *:hover {
  display: block;
}
