@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
:root {
  --clr-background: #000000;
  --page-width:1070px;
  --page-height: 1700px;
  --Rm-size: 500px;
  --Rm-size: 500px;
  --Rm1-top-pos: 150px;
  --Rm1-left-pos: 25px;
  --Rm2-top-pos: 150px;
  --Rm2-left-pos: 530px;
  --Rm3-top-pos: 655px;
  --Rm3-left-pos: 25px;
  --Rm4-top-pos: 655px;
  --Rm4-left-pos: 530px;
  --Rm5-top-pos: 1160px;
  --Rm5-left-pos: 25px;
  --Rm6-top-pos: 1160px;
  --Rm6-left-pos: 530px;
  --fog-hide: 0.25;
  --for-show: 0.8;
}

@media (max-width: 1070px) {
  :root {
    --clr-background: #000000;
    --page-width: 100%;
    --Rm-size: 500px;
    --Rm1-top-pos: 150px;
    --Rm1-left-pos: 25%;
    --Rm2-top-pos: 650px;
    --Rm2-left-pos: 25%;
    --Rm3-top-pos: 1160px;
    --Rm3-left-pos: 25%;
    --Rm4-top-pos: 1670px;
    --Rm4-left-pos: 25%;
    --Rm5-top-pos: 2180px;
    --Rm5-left-pos: 25%;
    --Rm6-top-pos: 2690px;
    --Rm6-left-pos: 25%;
    --page-height: 2690px;
  }
}
html {
  height: var(--page-height);
  width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

html:hover {
  cursor: url("/img/pointer.png"), auto;
}

body {
  position: relative;
  font-family: "Rubik Wet Paint", system-ui;
  color: greenyellow;
  width: 100%;
  height: 100%;
  background-color: var(--clr-background);
  font-size: 1.4em;
}

h1 {
  font-size: 2.5em;
  /* Increase the font size */
  letter-spacing: 1px;
  /* Add spacing between letters */
}

h2 {
  margin-top: 50px;
  /* Add spacing on top of the h1 text */
  font-size: 1.8em;
  /* Increase the font size */
  letter-spacing: 2px;
  /* Add spacing between letters */
}

h3 {
  font-size: 1.5em;
  /* Increase the font size */
  letter-spacing: 3px;
  /* Add spacing between letters */
}

h4 {
  font-size: 2em;
  /* Increase the font size */
  letter-spacing: 4px;
  /* Add spacing between letters */
}

.skip-link {
  position: absolute;
  top: -460px;
  height: 125%;
  width: 110%;
  left: -50px;
  z-index: -1;
  opacity: 0.4;
  background-image: url("/img/HauntedHouse.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  background-image: url("/img/rm1.webp");
  background-size: 100% 100%;
  opacity: var(--fog-hide);
  top: var(--Rm1-top-pos);
  left: var(--Rm1-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
}
header:hover:not(h1) {
  opacity: 0.8;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  display: block;
}

header > * {
  position: absolute;
  background-image: url("/img/portaitShift.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 125px;
  left: 60px;
  width: 50px;
  height: 50px;
  padding-top: 2em;
  opacity: 1;
  overflow: hidden;
  border-radius: 10px;
}
header > *:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 90vb;
  height: 1000px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}

nav {
  background-image: url("/img/rm2.webp");
  background-size: 100% 100%;
  opacity: var(--fog-hide);
  position: absolute;
  top: var(--Rm2-top-pos);
  left: var(--Rm2-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  z-index: 1;
}
nav:hover {
  opacity: 0.8;
  background-color: transparent;
  display: block;
}

nav > * {
  position: absolute;
  background-image: url("/img/bathtub.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 30px;
  left: 90px;
  width: 100px;
  height: 100px;
  padding-top: 2em;
  opacity: 1;
  overflow: hidden;
  border-radius: 10px;
}
nav > * li {
  margin-top: 500px;
}
nav > *:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 400px;
  height: 450px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}
nav > *:hover li {
  margin-top: 45px;
  padding-left: 2em;
}

main {
  background-image: url("/img/rm3.webp");
  background-size: 100% 100%;
  opacity: var(--fog-hide);
  position: absolute;
  top: var(--Rm3-top-pos);
  left: var(--Rm3-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  z-index: 1;
}
main:hover {
  opacity: var(--for-show);
  background-color: transparent;
  display: block;
}

main > *:hover {
  display: block;
}

#about {
  position: absolute;
  background-image: url("/img/creepyLittleGuy.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 351px;
  left: 119px;
  width: 50px;
  height: 50px;
  opacity: 1;
  overflow: hidden;
  border-radius: 10px;
}
#about:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 90vb;
  height: 1000px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}

#guidelines {
  position: absolute;
  background-image: url("/img/lightBulb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 135px;
  left: 215px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  overflow: hidden;
  border-radius: 10px;
}
#guidelines:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 90vb;
  height: 1000px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}

#contribute {
  position: absolute;
  background-image: url("/img/doll.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 300px;
  left: 280px;
  width: 50px;
  height: 50px;
  padding-top: 2em;
  opacity: 1;
  overflow: hidden;
  border-radius: 10px;
}
#contribute:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 90vb;
  height: 1000px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}

aside.profile {
  background-image: url("/img/rm4.webp");
  background-size: 100% 100%;
  opacity: var(--fog-hide);
  position: absolute;
  top: var(--Rm4-top-pos);
  left: var(--Rm4-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
}
aside.profile:hover {
  opacity: 0.8;
  background-color: transparent;
  display: block;
}

aside.profile > * {
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 52%;
  left: 43%;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  overflow: hidden;
  border-radius: 10px;
}
aside.profile > *:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 90vb;
  height: 1000px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}

aside#styles {
  background-image: url("/img/rm5.webp");
  background-size: 100% 100%;
  opacity: var(--fog-hide);
  z-index: 0;
  position: absolute;
  top: var(--Rm5-top-pos);
  left: var(--Rm5-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
}
aside#styles:hover {
  opacity: 0.8;
  background-color: transparent;
  display: block;
}

aside#styles > * {
  display: none;
}
aside#styles > *:hover {
  display: block;
}

footer {
  background-image: url("/img/rm6.webp");
  background-size: 100% 100%;
  opacity: var(--fog-hide);
  background-color: var(--clr-hideRoom);
  z-index: 0;
  position: absolute;
  top: var(--Rm6-top-pos);
  left: var(--Rm6-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  margin-bottom: 2em;
}
footer:hover {
  opacity: 0.8;
  background-color: transparent;
  display: block;
}

footer > * {
  display: none;
}
footer > *:hover {
  display: block;
}

@keyframes zigzag {
  0% {
    transform: translate(0, 100vh);
    /* Start from the bottom */
  }
  25% {
    transform: translate(100vw, 75vh);
    /* Move right and up */
  }
  50% {
    transform: translate(-20vw, 50vh);
    /* Move left and up */
  }
  75% {
    transform: translate(100vw, 25vh);
    /* Move right and up */
  }
  90% {
    transform: translate(0, 0);
    /* Reach the top */
  }
  100% {
    transform: translate(0, 100vh);
    /* Start from the bottom */
  }
}
header > div:first-child h1 {
  position: fixed;
  background-image: url("/img/ghostNoEye.png");
  background-position: center;
  /* Center the background image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  width: 400px;
  height: 250px;
  opacity: 0.6;
  animation: zigzag 35s infinite;
  /* Adjust duration as needed */
  position: absolute;
  /* Use fixed or absolute positioning */
  z-index: 9999;
}
header > div:first-child h1:hover {
  opacity: 1;
  overflow: visible;
  cursor: crosshair;
}
