@import url("https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap");
:root {
  --clr-background: #000000;
  --page-width:1070px;
  --page-height: 1700px;
  --Rm-size: 500px;
  --Rm-size: 500px;
  --Rm1-top-pos: 150px;
  --Rm1-left-pos: 25px;
  --Rm2-top-pos: 150px;
  --Rm2-left-pos: 530px;
  --Rm3-top-pos: 655px;
  --Rm3-left-pos: 25px;
  --Rm4-top-pos: 655px;
  --Rm4-left-pos: 530px;
  --Rm5-top-pos: 1160px;
  --Rm5-left-pos: 25px;
  --Rm6-top-pos: 1160px;
  --Rm6-left-pos: 530px;
}

@media (max-width: 1070px) {
  :root {
    --clr-background: #665151;
    --page-width: 100%;
    --Rm-size: 500px;
    --Rm1-top-pos: 150px;
    --Rm1-left-pos: 25%;
    --Rm2-top-pos: 650px;
    --Rm2-left-pos: 25%;
    --Rm3-top-pos: 1160px;
    --Rm3-left-pos: 25%;
    --Rm4-top-pos: 1670px;
    --Rm4-left-pos: 25%;
    --Rm5-top-pos: 2180px;
    --Rm5-left-pos: 25%;
    --Rm6-top-pos: 2690px;
    --Rm6-left-pos: 25%;
    --page-height: 2690px;
  }
}
html {
  height: var(--page-height);
  width: var(--page-width);
  margin-left: auto;
  margin-right: auto;
}

html:hover {
  cursor: url("/img/pointer.png"), auto;
}

body {
  position: relative;
  font-family: "Rubik Wet Paint", system-ui;
  color: greenyellow;
  width: 100%;
  height: 100%;
  background-color: var(--clr-background);
  font-size: 1.4em;
}

.skip-link {
  position: absolute;
  height: 150px;
  width: 1070px;
  background-image: url("/img/roof.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

header {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: var(--Rm1-top-pos);
  left: var(--Rm1-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
}
header:hover:not(h1) {
  background-image: url("/img/room1.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
  display: block;
}

header > div:first-child h2 {
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 150px;
  left: 430px;
  width: 50px;
  height: 50px;
  opacity: 0.1;
  overflow: hidden;
}
header > div:first-child h2:hover {
  opacity: 0.8;
  width: 300px;
  height: auto;
  overflow: visible;
  cursor: crosshair;
}

header > div:first-child p {
  position: absolute;
  top: 150px;
  left: 10px;
  width: 20px;
  height: 20px;
  opacity: 0.5;
  overflow: hidden;
}
header > div:first-child p:hover {
  opacity: 1;
  width: 300px;
  height: auto;
  overflow: visible;
  cursor: crosshair;
  background-color: aquamarine;
}

header > div:first-child a {
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 215px;
  left: 285px;
  width: 20px;
  height: 20px;
  opacity: 0.1;
  overflow: hidden;
}
header > div:first-child a:hover {
  opacity: 1;
  width: 300px;
  height: auto;
  overflow: visible;
  cursor: crosshair;
}

nav {
  background-image: url("/img/testerRoom.webp");
  opacity: 0.1;
  position: absolute;
  top: var(--Rm2-top-pos);
  left: var(--Rm2-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  z-index: 1;
}
nav:hover {
  opacity: 0.8;
  background-color: transparent;
  display: block;
}

nav > * {
  display: none;
}
nav > *:hover {
  display: block;
}

main {
  background-image: url("/img/testerRoom.webp");
  opacity: 0.1;
  position: absolute;
  top: var(--Rm3-top-pos);
  left: var(--Rm3-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  z-index: 1;
}
main:hover {
  opacity: 0.8;
  background-color: transparent;
  display: block;
}

main > *:hover {
  display: block;
}

#about {
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  overflow: hidden;
  border-radius: 10px;
}
#about:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 90vb;
  height: 1000px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}

#guidelines {
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  overflow: hidden;
  border-radius: 10px;
}
#guidelines:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 90vb;
  height: 1000px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}

#contribute {
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  overflow: hidden;
  border-radius: 10px;
}
#contribute:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 90vb;
  height: 1000px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}

aside.profile {
  background-image: url("/img/rm4.webp");
  opacity: 0.1;
  position: absolute;
  top: var(--Rm4-top-pos);
  left: var(--Rm4-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
}
aside.profile:hover {
  opacity: 0.8;
  background-color: transparent;
  display: block;
}

aside.profile > * {
  position: absolute;
  background-image: url("/img/vause.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  overflow: hidden;
  border-radius: 10px;
}
aside.profile > *:hover {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2em;
  background-image: none;
  opacity: 0.99;
  width: 90vb;
  height: 1000px;
  z-index: 9999;
  overflow: visible;
  cursor: crosshair;
  transition: width 0.5s ease;
}

aside#styles {
  background-image: url("/img/testerRoom.webp");
  opacity: 0.1;
  z-index: 0;
  position: absolute;
  top: var(--Rm5-top-pos);
  left: var(--Rm5-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
}
aside#styles:hover {
  opacity: 0.8;
  background-color: transparent;
  display: block;
}

aside#styles > * {
  display: none;
}
aside#styles > *:hover {
  display: block;
}

footer {
  background-image: url("/img/testerRoom.webp");
  opacity: 0.1;
  background-color: var(--clr-hideRoom);
  z-index: 0;
  position: absolute;
  top: var(--Rm6-top-pos);
  left: var(--Rm6-left-pos);
  width: var(--Rm-size);
  height: var(--Rm-size);
  border: 5px solid black;
  margin-bottom: 2em;
}
footer:hover {
  opacity: 0.8;
  background-color: transparent;
  display: block;
}

footer > * {
  display: none;
}
footer > *:hover {
  display: block;
}

@keyframes zigzag {
  0% {
    transform: translate(0, 100vh);
    /* Start from the bottom */
  }
  25% {
    transform: translate(100vw, 75vh);
    /* Move right and up */
  }
  50% {
    transform: translate(-20vw, 50vh);
    /* Move left and up */
  }
  75% {
    transform: translate(100vw, 25vh);
    /* Move right and up */
  }
  90% {
    transform: translate(0, 0);
    /* Reach the top */
  }
  100% {
    transform: translate(0, 100vh);
    /* Start from the bottom */
  }
}
header > div:first-child h1 {
  background-image: url("/img/ghostNoEye.png");
  background-position: center;
  /* Center the background image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  width: 325px;
  height: 150px;
  content: none;
  animation: zigzag 30s infinite;
  /* Adjust duration as needed */
  position: absolute;
  /* Use fixed or absolute positioning */
  z-index: 9999;
}
header > div:first-child h1:hover {
  opacity: 1;
  overflow: visible;
  cursor: crosshair;
}
